.Bg-blanco{
    background-color:#F5F1E8
}
.Bg-miel{
    background-color:#C89A6A
}
.txt-verde{
    color:#6B8E6B
}
.txt-blanco{
    color:white
}
.Bg-targeta{
    border:none; 
    background-color:white
}
.txt-miel{
    color:#C89A6A
}
.Bg-verde{
    background-color:#6B8E6B
}
.Bg-ff{
    background-color:#ffffff
}
.txt-marron{
    color:#7a7a7a
}

.dark-mode{
    background-color:#1e1e1e !important;
    color:white !important;
}

.dark-mode .card{
    background-color:#2c2c2c;
    color:white;
}

.dark-mode .Bg-ff{
    background-color:#2c2c2c;
}

.dark-mode input,
.dark-mode textarea{
    background-color:#444;
    color:white;
}