.Bg-blanco{
    background-color:#F5F1E8
}
.Bg-miel{
    background-color:#C89A6A
}
.txt-verde{
    color:#6B8E6B
}
.txt-blanco{
    color:white
}
.Bg-targeta{
    border:none; 
    background-color:white
}
.txt-miel{
    color:#C89A6A
}
.Bg-verde{
    background-color:#6B8E6B
}
.Bg-ff{
    background-color:#ffffff
}
.txt-marron{
    color:#7a7a7a
}